
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */



@mixin card-shadow () {
  box-shadow: 0 2px 10px rgba(0,0,0,0.1) !important;
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
@mixin outline-shadow () {
   box-shadow:  0 1px 4px rgba(0,0,0,0.3);
   -moz-box-shadow: i 0 1px 4px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
   -o-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
@mixin flex-center () {
  display:flex;
  align-items: center;
}
@mixin flex-vertical-center(){
  display:flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-vertical-between(){
  @include flex-center;
  justify-content: space-between;
}
@mixin  flex-item-end () {
  @include flex-center;
  justify-content: flex-end;
}
@mixin  flex-item-around () {
  @include flex-center;
  justify-content: space-around;
}

@mixin custom-transition () {
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
   transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

@mixin underline-link () {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}

@mixin underline-link-after (){
  -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1)
}
@mixin top-layer(){
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:$blk-clr-rgba;
}
@mixin center-position-left(){
  position: absolute;
  left: 0;
  top:40%;
  transform: translateY(-50%);
  width: 100%;
}
@mixin center-position-right(){
  position: absolute;
  right: 0;
  top:40%;
  transform: translateY(-50%);
  width: 100%;
}

@mixin custom-width(){
  max-width: 540px;
  margin:0 auto;
}
@mixin custom-inline-flex(){
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@mixin custom-loader{
  animation: loader 1s linear infinite;
}
@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
@mixin  custom-transition-cubic() {
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@mixin btn-hover-effect() {
  &::after{
    content: '';
    background: $brand-color;
    height: 50%;
    bottom: 0;
    right: 0;
    left: auto;
    width: 0;
    position: absolute;
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: -1;
    @include custom-transition-cubic;
}
&::before{
    content: '';
    background: $brand-color;
    height: 50%;
    width: 0;
    top: 0;
    left: 0;
    right: auto;
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @include custom-transition-cubic;
}
&:hover{
 i{
   color: $color-white;
 }
    &:before {
        width: 100%;
        right: 0;
        left: auto;
    }
    &:after {
        width: 100%;
        left: 0;
        right: auto;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
}
@mixin top-bottom-layer(){
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin p-fixed(){
  position: fixed;
  left:0;
  width: 100%;
}

@mixin  position-center {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  width:100%;
}

@mixin btn-hover-effect-blk() {
  &::after{
    content: '';
    background: $black-color;
    height: 50%;
    bottom: 0;
    right: 0;
    left: auto;
    width: 0;
    position: absolute;
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: -1;
    @include custom-transition-cubic;
}
&::before{
    content: '';
    background: $black-color;
    height: 50%;
    width: 0;
    top: 0;
    left: 0;
    right: auto;
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @include custom-transition-cubic;
}
&:hover{
 i{
   color: $color-white;
 }
    &:before {
        width: 100%;
        right: 0;
        left: auto;
    }
    &:after {
        width: 100%;
        left: 0;
        right: auto;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
}